11_Databases/XMLBasics-Homework/studentsSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="school-ninjas:students" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="student">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="gender"/>
        <xs:element type="xs:date" name="birthdate"/>
        <xs:element type="xs:long" name="phone"/>
        <xs:element type="xs:string" name="email"/>
        <xs:element type="xs:string" name="course"/>
        <xs:element type="xs:string" name="speciality"/>
        <xs:element type="xs:int" name="facultynumber"/>
        <xs:element name="exams">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="exam" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="tutor"/>
                    <xs:element type="xs:byte" name="score"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="endorsment">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:date" name="enrolleddate"/>
              <xs:element type="xs:byte" name="testscore"/>
              <xs:element type="xs:string" name="remarks"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>